{% extends 'tortas/index.html' %}

{% block titulo %}
<div class="text-center">
    <h1 class="masthead-heading mb-0">Acerca de mí</h1>
</div>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-primary text-white"> <!-- Clases para color de fondo y texto blanco -->
                <div class="card-body">
                    <h2 class="card-title">LisArteCake</h2>
                    <p class="card-text">LisArteCake es el emprendimiento de mi madre repostera. Actualmente ella no tiene ninguna plataforma de catalogo/venta y pense que seria un buen ejercicio plantear una idea preliminar.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-secondary text-white"> <!-- Clases para color de fondo y texto blanco -->
                <div class="card-body">
                    <h2 class="card-title">Oscar Seadi</h2>
                    <p class="card-text">Soy Venezolano, radicado en Chile. Arquitecto, 33 años. en mi trabajo utilizo un software que tiene una plugin de programacion visual en base a python, y se puede usar para automatizar muchas acciones. Muchos colegas me comentaron que es mucho más facil aprender a usar ese plugin, si de entrada aprendia las bases de Python. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

