{% extends 'tortas/index.html' %}

{% block titulo %}
<div class="text-center">
    <h1 class="masthead-heading mb-0">Contacto</h1>
</div>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-primary text-white">
                <div class="card-body">
                    <h2 class="card-title">Whatsapp</h2>
                    <p class="card-text">Para pedidos: +XX XXXX XXXX </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <div class="card-body">
                    <h2 class="card-title">Correo</h2>
                    <p class="card-text">correo@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-secondary text-white">
                <div class="card-body">
                    <h2 class="card-title">Instagram</h2>
                    <div class="container d-flex justify-content mb-3">
                        <a href="https://www.instagram.com/lisarte_cake" class="text-white small mx-2" style="text-decoration: none;">LisArteCake</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card h-100 bg-primary text-white"> 
                <div class="card-body">
                    <h2 class="card-title">TikTok</h2>
                    <div class="container d-flex justify-content mb-3">
                        <a href="" class="text-white small mx-2" style="text-decoration: none;">LisArteCake</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

